._fallback_o1esw_1 {
    background: var(--bg-tertiary);
    color: var(--text-muted);
    font-family: var(--font-mono);
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex
}

._img_o1esw_12 {
    border-radius: 50%;
    flex-shrink: 0
}
